*

!*/
!.gitignore
!.clang-format
!*.c
!*.cpp
!*.h
!*.hpp
!*.ioc
!*.s
!*_FLASH.ld
!*.sh

# CubeMX files
Middlewares
Drivers
Core

# cmake files
!CMakeLists.txt
CMakeFiles

# document files
!Doxyfile
!*.xlsx
~*.xlsx
!*.jpg
!*.md
!*.pdf
